<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Servlet project</display-name>

    <servlet>
        <servlet-name>frontController</servlet-name>
        <servlet-class>servlets.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>servlets.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoController</servlet-name>
        <servlet-class>servlets.AutoController</servlet-class>
    </servlet>

    GET /users - получить пользователей
    GET /users/{user-id}
    GET /autos/{auto-id}/users
    GET /autos/{auto-id}/users/{user-id}
    POST /users - добавить пользователя
    POST /users/{user-id}?action=update
    POST /users/{user-id}?action=delete

    GET /autos
    GET /autos/{auto-id}
    GET /users/{user-id}/autos - получить машины
    GET /users/{auto-id}/autos/{auto-id}
    POST /users/{user-id}/autos - добавить машину
    POST /autos/{auto-id}?action=update
    POST /autos/{auto-id}?action=delete

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
        <url-pattern>/webjars/*</url-pattern>
        <url-pattern>*.ico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frontController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoController</servlet-name>
        <url-pattern>/autos</url-pattern>
    </servlet-mapping>
</web-app>