<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Servlet project</display-name>

    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>servlets.Main</servlet-class>
    </servlet>
    GET  /users - получить пользователей
    POST /users - добавить пользователя
    GET  /users/{user-id}/autos - получить машины
    POST /users/{user-id}/autos - добавить машину
    POST /users/{user-id}?action=update
    POST /users/{user-id}?action=delete
    POST /users/{user-id}/autos/{auto-id}?action=update Редирект на страницу с машинами пользователя
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern></url-pattern>
        <url-pattern>/users</url-pattern>
        <url-pattern>/users/delete</url-pattern>
        <url-pattern>/users/add</url-pattern>
        <url-pattern>/users/update</url-pattern>
        <url-pattern>/users/get</url-pattern>
        <url-pattern>/autos</url-pattern>
    </servlet-mapping>
</web-app>